.initialFade {
  transform: translateX(20px);
  opacity: 0;
}

.enterFade {
  transform: translateX(20px);
  opacity: 0;
  animation: enterFadeAnimation var(--duration, 0.5s) ease-out forwards;
}

.leaveFade {
  transform: translateX(0);
  opacity: 1;
  animation: leaveFadeAnimation var(--duration, 0.5s) ease-in forwards;
}

.slowFlicker {
  animation: slowFlicker 2.5s ease-in-out infinite;
}

.initialScaleHeightByGrid {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
}

.initialScaleHeightByGrid > * {
  min-height: 0;
}

.enterScaleHeightByGrid {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  animation: enterScaleHeightByGridAnimation var(--duration, 0.5s) ease-in-out forwards;
}

.enterScaleHeightByGrid > * {
  min-height: 0;
}

.leaveScaleHeightByGrid {
  display: grid;
  grid-template-rows: 1fr;
  overflow: auto;
  animation: leaveScaleHeightByGridAnimation var(--duration, 0.5s) ease-in-out forwards;
}

.leaveScaleHeightByGrid > * {
  min-height: 0;
}

@keyframes enterFadeAnimation {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes leaveFadeAnimation {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-20px);
    opacity: 0;
  }
}

@keyframes slowFlicker {
  0%   { opacity: 0.2; }
  50%  { opacity: 1; }
  100% { opacity: 0.2; }
}

@keyframes enterScaleHeightByGridAnimation {
  from {
    grid-template-rows: 0fr;
    overflow: hidden;
  }
  to {
    grid-template-rows: 1fr;
    overflow: auto;
  }
}

@keyframes leaveScaleHeightByGridAnimation {
  from {
    grid-template-rows: 1fr;
    overflow: auto;
  }
  to {
    grid-template-rows: 0fr;
    overflow: hidden;
  }
}